body {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.grid {
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-columns: 1fr 10fr 1fr;
    height: 100%;
    display: grid;
    margin: 0;
    align-items: center;
    justify-items: center;
}

.grid>.center {
    grid-row: 2;
    grid-column: 2;
}

.grid>.topright {
    grid-column: 3;
    justify-self: end;
    align-self: start;
}

.grid>.leftcenter {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
    text-shadow: black 1px 1px 0.3rem;
    font-weight: 500;
}

.grid>.bottomcenter {
    grid-row: 3;
    grid-column: 2;
}

.grid>.topcenter {
    grid-column: 2;
}

.grid>.bottomleft {
    grid-column: 3;
}

.grid>.bottomright {
    grid-column: 3;
    grid-row: 3;
}

.grid>.topleft {
    grid-row: 1;
    grid-column: 1;
}

/* End grid layout
--------------------------------------------- */

.grid>.center>.mid {
    font-size: 3.5rem;
    text-align: center;
    font-weight: 500;
    color: whitesmoke;
    text-shadow: black 1px 1px 0.3rem;
}

.grid>.center>.time {
    display: block;
    text-align: center;
    font-size: 5rem;
    color: whitesmoke;
    font-weight: 500;
    text-shadow: black 1px 1px 0.3rem;
}

.grid>.bottomcenter>.qod {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    text-shadow: black 1px 1px 0.3rem;
}

.grid>.topright>button,
.overlay>.topright>button {
    padding: 1rem;
    color: whitesmoke;
    font-size: 1rem;
    background-color: rgba(82, 82, 82, 0.8);
    border: 0;
    cursor: pointer;
    outline: 0;
    margin: 1rem;
}

.grid>.topright>button:hover,
.overlay>.topright>button:hover {
    background-color: rgba(70, 70, 70, 0.8);
}

.grid>.topright>button:active,
.overlay>.topright>button:active {
    background-color: rgba(51, 51, 51, 0.8);
}

.grid>.leftcenter>span {
    margin: 2px;
    display: block;
}
.grid>.leftcenter>span>i{
    font-size: 2rem;
    margin-right: 1rem; 
}

.location>i {
    color: darkslateblue;
}

.templow>i {
    color: cornflowerblue;
}

.temp>i{
    color:greenyellow;
}

.temphigh>i{
    color: orangered;
}

.pressure>i{
    color: yellowgreen;
}

.humidity>i{
    color: lightskyblue;
}

.winddirection>i{
    color:paleturquoise;
}

/* End main page
--------------------------------------------- */

.overlay {
    position: absolute;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(12, 12, 12, 0.6);
}

.overlay>.topleft {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: whitesmoke;
    text-align: center;
    font-size: 1rem;
}

.overlay>.topleft>* {
    padding: 0.5rem;
    margin: 0.5rem;
}

.overlay>.topcenter {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    justify-items: center;
    font-size: 2rem;
    color: whitesmoke;

}

.overlay>.topright {
    justify-self: end;

}

/* End overlay layout
--------------------------------------------- */

.show {
    animation: show 250ms ease-in-out forwards;
}

.hide {
    animation: hide 250ms ease-in-out forwards;
}

.hidden {
    visibility: hidden;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

/* End overlay page
--------------------------------------------- */